<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ejemplo 1b de twig</title>
</head>

<body>
    <div>Bienvenido al primer ejemplo de twig</div>
    <div><a href="{{ path('chc_formacion_twig_ejemplo1a') }}">Ir a ejemplo 1a</a></div>
</body>

</html>


