<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Formularios: ejemplo 1</title>
</head>

<body>
    <div>Bienvenido al primer ejemplo de formularios</div>
    {{ form(formulario) }}
</body>

</html>


