<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Segundo ejemplo</title>
</head>

<body>
    <h1>Hola {{ nombre }}</h1>
    <span>Bienvenido al primer ejemplo de symfony</span>
</body>

</html>


